.user-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include vp-767 {
    justify-content: center;
  }

  & ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;

    &:not(:last-of-type) {
      margin-right: 70px;

      @include vp-767 {
        margin-right: 0;
      }

      & li:not(:last-of-type) {
        position: relative;

        &:not(:last-of-type)::after {
          position: absolute;
          content: "";
          width: 1px;
          height: 10px;
          right: 0;
          top: calc(50% - 5px);
          background: #303030;
        }
      }

      & li:last-of-type {
        @include hover-focus {
          opacity: 0.5;
        }
      }

      & a {
        display: block;
        padding: 10px;
      }
    }

    &:last-of-type {
      gap: 30px;

      & a {
        display: flex;
        width: 32px;
        height: 32px;
        align-items: center;
        justify-content: center;

        @include hover-focus {
          background: #f8f8f8;
        }

        &:active {
          background: #e8e7e7;
        }
      }
    }
  }
}
